.w-450{

    width:450px;
}
.v-100{
    min-height: 100vh;
}
.rt{
    margin-left: 150px;
}

.image{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}